<div class="row container-fluid mt-5">
  <div class="col-lg-9 col-md-6">
      <!-- DRINKS COMPONENT -->
      <app-drinks 
        *ngIf="hasRoute('/home/order/drinks')"
        [drinksItem]="itemList" 
        [drinksCategory]="drinkCategory"
        (selectedProd)="onSelect($event)">
      </app-drinks>
      <!-- FOOD COMPONENT -->
      <app-foods 
        *ngIf="hasRoute('/home/order/foods')" 
        [foodCategory]="foodCategory"
        [foodItems]="itemList"
        (selectedItem)="onSelect($event)">
      </app-foods>
      <!-- POPULAR COMPONENT -->
      <app-popular 
        *ngIf="hasRoute('/home/order/popular')"
        [allItems]="itemList"
        (selectedPopItem)="onSelect($event)">
      </app-popular>
      <!-- Modal -->
      <app-modals 
        [selectedItem]="selectedItem"
        [checkOut]="cart"
        [total]="total"
        [checkNewList]="checkNewList"
        (pushProd)="onPushed($event)"
        (clearList)="onClear($event)"
      ></app-modals>
  </div>
  <div class="col-lg-3 col-md-6 card ml-100">
      <table class="table">
        <thead>
          <tr>
            <th>ITEM</th>
            <th>QTY</th>
            <th>SUBTOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <td>{{ item.productName }}</td>
            <td>{{ item.inputQty }}</td>
            <td>P{{ item.productPrice * item.inputQty }}.00</td>
          </tr>
        </tbody>
        <tfoot>
          <h4 class="list-group text-center border-top border-bottom clearlist">
           <button class="btn btn-outline-none" (click)="btnCLearList()" [disabled]="cart.length == 0">CLEAR LIST</button>
          </h4>
          <label>
            Subtotal:
          </label>
          <h3 class="float-right">
            <b>
            P{{ !total || total == 0 ? 0 : total }}.00
          </b>
          </h3><br>
          <button class="btn btn-success btn-block btn-lg" 
            data-toggle="modal" 
            data-target="#modalCheckOut"
            data-backdrop="static"
            [disabled]="cart.length == 0"
            (click)="checkOut()">
            CHECKOUT
          </button>
        </tfoot>
      </table>
  </div>
</div>