  <!-- POPULAR PRODUCTS -->
  <div class="card text-white border-dark cardCont mb-3">
    <div class="card-header bg-dark">
      <h3>TOP 10 POPULAR PRODUCTS</h3>
    </div>
    <div class="card-body text-dark">
      <!-- LIST OF ITEMS -->
      <div class="row">
        <div class="col-1-lg box-shadow" 
          *ngFor="let list of itemList; let i = index"
          data-toggle="modal" 
          data-target="#modalInputQty"
          data-backdrop="static"
          (click)="selectItem(list.itemID)">
          <div *ngIf="i < 10">
            <div class="cont text-white">
              <img src="../../../../assets/box.jpg" style="margin: 5px;width: 200px;height: 100px;">
              <label class="centered categoryName">{{ list.productName }}</label>
            </div>
            <div *ngFor="let s of list.stars">
              <i class="{{ s }} text-danger float-left"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>